<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>128884590992-856gmnfbcnjvi4krrv2e6ucb29au6oru.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.128884590992-856gmnfbcnjvi4krrv2e6ucb29au6oru</string>
	<key>API_KEY</key>
	<string>AIzaSyCwkGpUrc6orTdIXy8kUnxJBcHyFhiDYbA</string>
	<key>GCM_SENDER_ID</key>
	<string>128884590992</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>DB.MedIntake</string>
	<key>PROJECT_ID</key>
	<string>medintake</string>
	<key>STORAGE_BUCKET</key>
	<string>medintake.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:128884590992:ios:9afd69c980b48241</string>
	<key>DATABASE_URL</key>
	<string>https://medintake.firebaseio.com</string>
</dict>
</plist>